$baseFontSize: 16px;
$green: #3DB370;
$blue: #1565D8;
$white: #fff;
$black: #0D0D0D;
$darkBlue: #16133D;
$litegray: #EFEEF3;
$gray: #7690A8;

// blue-icons
$colorD1E7FF: #D1E7FF;
$colorE8F3FF: #E8F3FF;
$colorB9DCFF: #B9DCFF;
$color007FFC: #007FFC;

// green-icons
$colorE1F4F5: #E1F4F5;
$colorF4FEFF: #F4FEFF;
$colorCAEFF2: #CAEFF2;
$color52C29D: #52C29D;